<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
        <property name="driverClass" value="com.mysql.jdbc.Driver"/>
        <property name="jdbcUrl" value="jdbc:mysql://127.0.0.1:3306/tarvel?tinyInt1isBit=false"/>
        <property name="user" value="gaoyuan"/>
        <property name="password" value="123456"/>
        <!-- c3p0连接池配置 -->
        <!-- 获取connnection时测试是否有效  -->
        <property name="testConnectionOnCheckin" value="false"/>
        <!-- 自动测试的table名称 -->
        <property name="automaticTestTable" value="C3P0TestTable"/>
        <!-- set to something much less than wait_timeout, prevents connections from going stale -->
        <property name="idleConnectionTestPeriod" value="18000 "/>
        <!-- set to something slightly less than wait_timeout, preventing 'stale' connections from being handed out -->
        <property name="maxIdleTime" value="25000"/>
        <!-- if you can take the performance 'hit', set to "true" -->
        <property name="testConnectionOnCheckout" value="true"/>
    </bean>

    <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="packagesToScan">
            <list>
                <value>com.tarvel.business.admin.user.po</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
                <prop key="hibernate.format_sql">false</prop>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.query.factory_class">org.hibernate.hql.internal.ast.ASTQueryTranslatorFactory</prop>
                <prop key="hibernate.hbm2ddl.auto">none</prop>
                <prop key="hibernate.jdbc.batch_size">200</prop>
                <prop key="hibernate.jdbc.fetch_size">200</prop>
            </props>
        </property>
    </bean>
    <!--事物-->
    <bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
</beans>